.console {
	background: #282828;
	border-width: 1rem 0 1rem 0;
	border-style: inset;
	border-color: #b179f1;
	border-radius: 1rem;
	margin-right: 1.5rem;
	box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.22);
}

.moduleControls {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
}

.modulebtn {
	padding: 1rem;
}

.controls,
.thumbnailContainer,
.songTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.image {
	-webkit-user-drag: none;
	user-select: none;
}

.songTitle {
	color: #fff;
}

.controls {
	flex-direction: row !important;
}

.controlbtns {
	margin: 0.75rem;
}

.menuContainer {
	flex: 1;
	display: flex;
	flex-direction: row;
}

.menuA {
	border-bottom: 2px solid white;
}

.menuA div,
.menuB div {
	margin: 2rem 0;
	text-align: center;
}

.modulebtn,
.controlbtns,
.thumbnail,
.menubtn,
.menuA div,
.menuB div {
	cursor: pointer;
}
