.menubtn {
	padding: 1rem;
}

.controls {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.controlbtns {
	margin: 0.75rem;
	cursor: pointer;
}

.menuContainer {
	flex: 1;
	display: flex;
	flex-direction: row;
}

.menuA {
	border-bottom: 2px solid white;
}

.menuA div,
.menuB div {
	margin: 2.5rem 0;
	text-align: center;
}

.menubtn,
.menuA div,
.menuB div {
	cursor: pointer;
}

.console {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #282828;
	border-width: 1rem 0 1rem 0;
	border-style: inset;
	border-color: #b179f1;
	border-radius: 1rem;
	box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.22);
}
