.main {
	display: flex;
	flex: 1;
	padding-top: 2rem;
}

.container {
	display: flex;
	flex: minman(100px, auto) 0;
	min-height: 100vh;
	background: #3f3f3f;
	padding: 1rem;
	border-radius: 2rem 2rem 0 0;
	justify-content: left;
}

.menubtnContainer {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.playerContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sidebar {
	display: flex;
	flex: 3.5rem 0;
	padding: 0.5rem;
	background: #297eb7;
	border-radius: 0 2rem 0 0;
}

.footer {
	display: flex;
	flex: 1;
	padding: 1.5rem;
	border-top: 1px solid rgba(234, 234, 234, 0.3);
	justify-content: center;
	align-items: center;
}

.footer div {
	display: flex;
	color: #fff;
	justify-content: center;
	align-items: center;
}

.logo {
	height: 1em;
	margin-left: 0.5rem;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}
