.menuContainer {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.menuA {
	border-bottom: 2px solid white;
}

.menuA div,
.menuB div {
	margin: 2.5rem 0;
	text-align: center;
}
